In [1]:
import numpy as np
import pandas as pd
import sqlite3

In [3]:
#https://www.w3schools.com/sql/default.asp
#https://www.w3resource.com/sql-exercises/movie-database-exercise/joins-exercises-on-movie-database.php
con = sqlite3.connect('Db-IMDB.db')

### Assignment
1.List all the directors who directed a 'Comedy' movie in a leap year. (You need to check that the genre is 'Comedyâ€™ and year is a leap year) Your query should return director name, the movie name, and the year.

In [22]:
qn1 = pd.read_sql_query('''select Name,title,year from Person p join M_Director md on p.PID = md.PID join Movie m on m.MID = md.MID where m.MID in
                            (select MID from Movie where (year%4=0 and year%100!=0) and (year%4=0 or year%100=0 and year%400=0) and MID in
                            (select MID from M_Genre where GID in(select GID from Genre where Name LIKE '%comedy%')))''', con)
print(qn1.head(10))

              Name                              title  year
0     Milap Zaveri                         Mastizaade  2016
1     Milap Zaveri                         Mastizaade  2016
2     Danny Leiner  Harold & Kumar Go to White Castle  2004
3     Danny Leiner  Harold & Kumar Go to White Castle  2004
4   Anurag Kashyap                 Gangs of Wasseypur  2012
5   Anurag Kashyap                 Gangs of Wasseypur  2012
6     Frank Coraci        Around the World in 80 Days  2004
7     Frank Coraci        Around the World in 80 Days  2004
8    Griffin Dunne             The Accidental Husband  2008
9    Griffin Dunne             The Accidental Husband  2008

2. List the names of all the actors who played in the movie 'Anand' (1971)

In [23]:
qn2 = pd.read_sql_query("""WITH MOVIE_ANAND AS
                        (SELECT M.title Movie, MC.PID
                        FROM MOVIE M
                        JOIN M_CAST MC ON M.MID = MC.MID
                        WHERE M.title = 'Anand')

                        SELECT DISTINCT TRIM(P.NAME) Actors
                        FROM MOVIE_ANAND MA
                        JOIN PERSON P ON TRIM(P.PID) = TRIM(MA.PID""", con)

In [24]:
qn2

              Actors
0   Amitabh Bachchan
1      Rajesh Khanna
2      Sumita Sanyal
3         Ramesh Deo
4          Seema Deo
5     Asit Kumar Sen
6         Dev Kishan
7       Atam Prakash
8      Lalita Kumari
9             Savita
10    Brahm Bhardwaj
11      Gurnam Singh
12      Lalita Pawar
13       Durga Khote
14        Dara Singh
15     Johnny Walker
16         Moolchand

3) List all the actors who acted in a film before 1970 and in a film after 1990. (That is: < 1970 and > 1990.)

In [25]:
qn3=pd.read_sql_query("""WITH Actors_Before_1970 AS
                        (SELECT DISTINCT TRIM(MC.PID) PID
                        FROM MOVIE M
                        JOIN M_CAST MC ON M.MID = MC.MID
                        WHERE CAST(SUBSTR(M.year,-4) AS UNASSIGNED) < 1970),

                        Actors_After_1990 AS
                        (SELECT DISTINCT TRIM(MC.PID) PID
                        FROM MOVIE M
                        JOIN M_CAST MC ON M.MID = MC.MID
                        WHERE CAST(SUBSTR(M.year,-4) AS UNASSIGNED) > 1990),

                        ACTORS AS
                        (SELECT A_1970.PID PID
                        FROM Actors_Before_1970 A_1970
                        JOIN Actors_After_1990 A_1990 ON A_1970.PID = A_1990.PID)

                        SELECT DISTINCT TRIM(P.NAME) Actors_Before_1970_After_1990
                        FROM PERSON P
                        JOIN ACTORS A ON A.PID = TRIM(P.PID)""", con)

In [26]:
qn3

    Actors_Before_1970_After_1990
0                    Rishi Kapoor
1                Amitabh Bachchan
2                          Asrani
3                    Zohra Sehgal
4                 Parikshat Sahni
5                   Rakesh Sharma
6                     Sanjay Dutt
7                       Ric Young
8                           Yusuf
9                  Suhasini Mulay
10                    A.K. Hangal
11                   Jeremy Child
12                   Farida Jalal
13                 Waheeda Rehman
14                  Rajesh Khanna
15                     Ramesh Deo
16                      Seema Deo
17                 Asit Kumar Sen
18                 Brahm Bhardwaj
19                   Lalita Pawar
20                     Dara Singh
21                  Johnny Walker
22                      Moolchand
23                     Saira Banu
24                    Prem Chopra
25                    Dina Pathak
26                 Achala Sachdev
27                     Shashikala
28             Mohandas K. Gandhi
29               Jawaharlal Nehru
..                            ...
270                Gemini Ganesan
271                          Aziz
272                   Mohamad Ali
273                   Master Amar
274                         Gopal
275                        Manish
276                      Surendra
277                     Raj Joshi
278                        Nikita
279                       Jaswant
280                        Merlyn
281               Vikram Makandar
282               Lata Mangeshkar
283                         Munni
284                       Gummadi
285             Allu Ramalingaiah
286                        Kaveri
287                  Bharati Devi
288                         Kumar
289                           Uma
290                        Ismail
291                   Miss Firoza
292                          Dube
293                         Dolly
294                       Shekhar
295                        Poonam
296                 Jamila Massey
297                   K.R. Vijaya
298                         Sethi
299                  Suryakantham

[300 rows x 1 columns]

4. List all directors who directed 10 movies or more, in descending order of the number of movies they directed. Return the directors' names and the number of movies each of them directed.

In [27]:
qn4=pd.read_sql_query("""SELECT DISTINCT TRIM(P.Name) Directors, COUNT(DISTINCT MD.MID) Movie_Count
                        FROM PERSON P
                        JOIN M_DIRECTOR MD ON TRIM(P.PID) = TRIM(MD.PID)                                                    
                        GROUP BY Directors
                        HAVING Movie_Count >= 10
                        ORDER BY Movie_Count DESC""", con)

In [28]:
qn4

                   Directors  Movie_Count
0               David Dhawan           39
1               Mahesh Bhatt           36
2               Priyadarshan           30
3            Ram Gopal Varma           30
4               Vikram Bhatt           29
5       Hrishikesh Mukherjee           27
6                Yash Chopra           21
7            Basu Chatterjee           19
8             Shakti Samanta           19
9               Subhash Ghai           18
10  Abbas Alibhai Burmawalla           17
11         Rama Rao Tatineni           17
12             Shyam Benegal           17
13                    Gulzar           16
14            Manmohan Desai           16
15              Raj N. Sippy           16
16          Mahesh Manjrekar           15
17                Raj Kanwar           15
18               Indra Kumar           14
19              Rahul Rawail           14
20                Raj Khosla           14
21         Rajkumar Santoshi           14
22  Ananth Narayan Mahadevan           13
23            Anurag Kashyap           13
24                 Dev Anand           13
25              Harry Baweja           13
26        K. Raghavendra Rao           13
27             Rakesh Roshan           13
28               Vijay Anand           13
29              Anees Bazmee           12
30               Anil Sharma           12
31              Guddu Dhanoa           12
32         Madhur Bhandarkar           12
33           Nagesh Kukunoor           12
34               Prakash Jha           12
35             Prakash Mehra           12
36              Rohit Shetty           12
37            Satish Kaushik           12
38               Umesh Mehra           12
39           Govind Nihalani           11
40               Ketan Mehta           11
41                Mohit Suri           11
42             Nasir Hussain           11
43        Pramod Chakravorty           11
44              Sanjay Gupta           11
45                 Bimal Roy           10
46              Hansal Mehta           10
47             J. Om Prakash           10
48                J.P. Dutta           10
49                K. Bapaiah           10
50       K. Muralimohana Rao           10
51               Mehul Kumar           10
52                N. Chandra           10
53           Pankaj Parashar           10
54                Raj Kapoor           10
55             Sudhir Mishra           10
56          Tigmanshu Dhulia           10
57           Vishal Bhardwaj           10

5.a) For each year, count the number of movies in that year that had only female actors.

In [29]:
qn5a = pd.read_sql_query("""WITH MOVIE_MALE_NONE AS
                            (SELECT MC.MID MID_F
                            FROM M_CAST MC
                            JOIN PERSON P ON TRIM(P.PID) = TRIM(MC.PID)
                            WHERE TRIM(P.GENDER) IN ('Male', 'None'))

                            SELECT CAST(SUBSTR(M.year,-4) AS UNASSIGNED) Year, COUNT(DISTINCT TRIM(MID)) Female_Movie_Count
                            FROM MOVIE M
                            WHERE TRIM(MID) NOT IN (SELECT MID_F FROM MOVIE_MALE_NONE)
                            GROUP BY CAST(SUBSTR(M.year,-4) AS UNASSIGNED)
                            ORDER BY Year""", con)

In [30]:
qn5a

   Year  Female_Movie_Count
0  1939                   1
1  1999                   1
2  2000                   1
3  2009                   1
4  2012                   1
5  2018                   2

5. b) Now include a small change: report for each year the percentage of movies in that year with only female actors, and the total number of movies made that year. For example, one answer will be: 1990 31.81 13522 meaning that in 1990 there were 13,522 movies, and 31.81% had only female actors. You do not need to round your answer.

In [31]:
qn5b = pd.read_sql_query("""WITH Movie_Non_Females AS
                            (SELECT DISTINCT TRIM(MC.MID) MID
                            FROM M_CAST MC
                            JOIN PERSON P ON TRIM(MC.PID) = TRIM(P.PID)
                            WHERE TRIM(P.GENDER) IN ('Male','None')),

                            MOVIE_FEMALE_Year AS
                            (SELECT CAST(SUBSTR(M.YEAR,-4) AS UNASSIGNED) YEAR,
                            COUNT(DISTINCT TRIM(MID)) Female_Movie_Only
                            FROM Movie M
                            WHERE TRIM(MID) NOT IN (SELECT MID FROM Movie_Non_Females)
                            GROUP BY CAST(SUBSTR(M.year,-4) AS UNASSIGNED)),

                            MOVIES_YEAR AS
                            (SELECT CAST(SUBSTR(M.YEAR,-4) AS UNASSIGNED) Year,
                            COUNT(DISTINCT TRIM(MID)) Total_Movies
                            FROM MOVIE M
                            GROUP BY CAST(SUBSTR(M.YEAR,-4) AS UNASSIGNED))

                            SELECT MY.YEAR, MY.Total_Movies,
                            ROUND((IFNULL(MF.Female_Movie_Only, 0) * 100)/MY.Total_Movies, 2) Female_Movie_Percentage
                            FROM MOVIES_YEAR MY
                            LEFT OUTER JOIN MOVIE_FEMALE_Year MF ON
                            TRIM(MY.YEAR) = TRIM(MF.YEAR)
                            ORDER BY Female_Movie_Percentage DESC""", con)

In [32]:
qn5b

    Year  Total_Movies  Female_Movie_Percentage
0   1939             2                     50.0
1   1999            66                      1.0
2   2000            64                      1.0
3   2018           104                      1.0
4   1931             1                      0.0
5   1936             3                      0.0
6   1941             1                      0.0
7   1943             1                      0.0
8   1946             2                      0.0
9   1947             2                      0.0
10  1948             3                      0.0
11  1949             3                      0.0
12  1950             2                      0.0
13  1951             6                      0.0
14  1952             6                      0.0
15  1953             8                      0.0
16  1954             6                      0.0
17  1955             9                      0.0
18  1956             6                      0.0
19  1957            13                      0.0
20  1958             9                      0.0
21  1959             6                      0.0
22  1960            14                      0.0
23  1961             7                      0.0
24  1962            12                      0.0
25  1963            10                      0.0
26  1964            15                      0.0
27  1965            14                      0.0
28  1966            18                      0.0
29  1967            19                      0.0
..   ...           ...                      ...
48  1986            33                      0.0
49  1987            32                      0.0
50  1988            37                      0.0
51  1989            47                      0.0
52  1990            42                      0.0
53  1991            41                      0.0
54  1992            58                      0.0
55  1993            63                      0.0
56  1994            60                      0.0
57  1995            56                      0.0
58  1996            60                      0.0
59  1997            55                      0.0
60  1998            55                      0.0
61  2001            73                      0.0
62  2002            87                      0.0
63  2003           103                      0.0
64  2004           103                      0.0
65  2005           129                      0.0
66  2006           101                      0.0
67  2007           109                      0.0
68  2008           107                      0.0
69  2009           110                      0.0
70  2010           125                      0.0
71  2011           116                      0.0
72  2012           111                      0.0
73  2013           136                      0.0
74  2014           126                      0.0
75  2015           119                      0.0
76  2016           129                      0.0
77  2017           126                      0.0

[78 rows x 3 columns]

6) Find the film(s) with the largest cast. Return the movie title and the size of the cast. By "cast size" we mean the number of distinct actors that played in that movie: if an actor played multiple roles, or if it simply occurs multiple times in casts, we still count her/him only once.

In [38]:
qn6 = pd.read_sql_query("""WITH CAST AS
                            (SELECT COUNT(DISTINCT TRIM(MC.PID)) Cast_Count, MC.MID MID
                            FROM M_CAST MC
                            GROUP BY MC.MID)

                            SELECT M.title Movie, C.Cast_Count
                            FROM MOVIE M
                            JOIN CAST C ON C.MID = M.MID
                            ORDER BY Cast_Count DESC
                            LIMIT 1""", con)

In [34]:
qn6

           Movie  Cast_Count
0  Ocean's Eight         238

7) A decade is a sequence of 10 consecutive years. For example, say in your database you have movie information starting from 1965. Then the first decade is 1965, 1966, ..., 1974; the second one is 1967, 1968, ..., 1976 and so on. Find the decade D with the largest number of films and the total number of films in D.

In [35]:
qn7=pd.read_sql_query("""WITH  YEARS_UNIQUE AS
                       (SELECT DISTINCT
                        CAST(SUBSTR(year,-4) AS UNSIGNED) YEAR,
                        CAST(SUBSTR(year,-4) AS UNSIGNED) DECADE_START,
                        CAST(SUBSTR(year,-4) AS UNSIGNED) + 9 DECADE_END,
                        'Decade of : ' || SUBSTR(year,-4) DECADE
                        FROM MOVIE),

                        MOVIE_COUNT_YEARS AS
                       (SELECT COUNT(DISTINCT MID) Movie_Count, CAST(SUBSTR(year,-4) AS UNSIGNED) Year
                        FROM MOVIE
                        GROUP BY CAST(SUBSTR(year,-4) AS UNSIGNED)),

                        MOVIE_COUNT_DECADE AS 
                       (SELECT SUM(Movie_Count) Total_Movies, YU.DECADE
                        FROM MOVIE_COUNT_YEARS MCY, YEARS_UNIQUE YU
                        WHERE MCY.YEAR BETWEEN YU.DECADE_START AND YU.DECADE_END
                        GROUP BY YU.DECADE)

                        SELECT Decade, Total_Movies
                        FROM MOVIE_COUNT_DECADE
                        WHERE Total_Movies = (SELECT MAX(Total_Movies)
                        FROM MOVIE_COUNT_DECADE)""", con)

In [36]:
qn7

             DECADE  Total_Movies
0  Decade of : 2008          1205

8) Find the actors that were never unemployed for more than 3 years at a stretch. (Assume that the actors remain unemployed between two consecutive movies).

In [39]:
qn8= pd.read_sql_query("""WITH ACTORS_MOVIE_YEAR AS
                        (SELECT TRIM(MC.PID) PID, CAST(SUBSTR(year,-4) AS UNASSIGNED) Year,
                        COUNT(DISTINCT TRIM(M.MID)) Number_of_Mov
                        FROM M_CAST MC, MOVIE M
                        WHERE TRIM(MC.MID) = TRIM(M.MID) 
                        GROUP BY TRIM(MC.PID), CAST(SUBSTR(year,-4) AS UNASSIGNED)
                        ORDER BY NUMBER_OF_MOV DESC),
    
                        ACTORS_MORE_THAN_YEAR AS
                        (SELECT AMY.PID, COUNT(AMY.YEAR) AS Number_of_Years, MIN(AMY.YEAR) AS Min_Year,
                        MAX(AMY.YEAR) AS Max_Year
                        FROM ACTORS_MOVIE_YEAR AMY
                        GROUP BY AMY.PID
                        HAVING COUNT(AMY.YEAR) > 1),
    
                        ACTORS_NUMBER_MORE_THAN_YEAR AS
                        (SELECT AMY.PID, AMY.YEAR, AMY.YEAR+4 AS Year_4, AMY.NUMBER_OF_MOV,
                        ATY.MIN_YEAR, ATY.MAX_YEAR
                        FROM ACTORS_MOVIE_YEAR AMY, ACTORS_MORE_THAN_YEAR ATY
                        WHERE AMY.PID = ATY.PID),
    
                        NUMBER_MOVIE_PRESENT AS
                        (SELECT AM.PID, NY.YEAR, SUM(AM.NUMBER_OF_MOV) AS NUMBER_OF_MOVIE_PRESENT
                        FROM ACTORS_NUMBER_MORE_THAN_YEAR AM, ACTORS_NUMBER_MORE_THAN_YEAR NY
                        WHERE AM.PID = NY.PID AND
                        AM.YEAR BETWEEN NY.MIN_YEAR AND NY.YEAR
                        GROUP BY AM.PID, NY.YEAR),
    
                        ACTOR_MOVIE_4_YEAR AS
                        (SELECT AM.PID, NY.YEAR, SUM(AM.NUMBER_OF_MOV) AS ACTOR_MOVIE_4_YEARS_PRESENT
                        FROM ACTORS_NUMBER_MORE_THAN_YEAR AM, ACTORS_NUMBER_MORE_THAN_YEAR NY
                        WHERE AM.PID = NY.PID AND
                        AM.YEAR BETWEEN NY.MIN_YEAR AND NY.YEAR_4 AND
                        NY.YEAR_4 <= NY.MAX_YEAR
                        GROUP BY AM.PID, NY.YEAR)
    
                        SELECT DISTINCT TRIM(P.NAME) AS ACTORS_NEVER_UNEMPLOYED_MORE_THAN_3_YEARS
                        FROM PERSON P
                        WHERE TRIM(P.PID) NOT IN (SELECT DISTINCT NMP.PID
                        FROM NUMBER_MOVIE_PRESENT NMP, ACTOR_MOVIE_4_YEAR AM_4
                        WHERE NMP.PID = AM_4.PID AND
                        NMP.YEAR = AM_4.YEAR AND
                        NMP.NUMBER_OF_MOVIE_PRESENT = AM_4.ACTOR_MOVIE_4_YEARS_PRESENT) """, con)

In [40]:
qn8

      ACTORS_NEVER_UNEMPLOYED_MORE_THAN_3_YEARS
0                                Christian Bale
1                                Cate Blanchett
2                          Benedict Cumberbatch
3                                 Naomie Harris
4                                   Andy Serkis
5                                  Peter Mullan
6                                   Jack Reynor
7                                  Eddie Marsan
8                                 Tom Hollander
9                                  Matthew Rhys
10                                  Rohan Chand
11                              Keveshan Pillay
12                       Louis Ashbourne Serkis
13                          Moonsamy Narasigadu
14                             Soobrie Govender
15                                  Gopal Singh
16                                Kista Munsami
17                          Mahomed Araf Cassim
18                                 Riaz Mansoor
19                          Roshan Jayesh Patel
20                              T'khai Phillips
21                                  Sachin Soni
22                               Hridhay Somera
23                      Ethaniel Jaden Moonsamy
24                         Gareth Ryan Benjamin
25              Nirvayesh Chakravorty Thanendra
26                       Adiyan Ahmed Choudhury
27                                 Amara Motala
28                               Diyara Prakash
29                              Diyajal Prakash
...                                         ...
32555                         Rakesh Chaturvedi
32556                              Swapna Joshi
32557                        Shukla Barnali Ray
32558                                 Pavithran
32559                           Vara Mullapoodi
32560                          D. Sumana Kittur
32561                          Abhishek Chhadha
32562                                Arup Dutta
32563                              Illangkannan
32564                                Visakh G S
32565                                Sandip Ray
32566                        S.V. Krishna Reddy
32567                            R.K. Selvamani
32568                           Amma Rajasekhar
32569                            Sanjay Talreja
32570                           Rajatesh Nayyar
32571                               Murali Nair
32572                               Pryas Gupta
32573                                 Shivamani
32574                             Oliver Paulus
32575                            Vishal Inamdar
32576                             Kumar Shahani
32577                    Avtandil Varsimashvili
32578                             G. Ram Prasad
32579                               Raja Chanda
32580                            Deepak Ramteke
32581                              Kamika Verma
32582                        Dhorairaj Bhagavan
32583                              Nasir Shaikh
32584                              Adrian Fulle

[32585 rows x 1 columns]

9) Find all the actors that made more movies with Yash Chopra than any other director.

In [6]:
qn9= pd.read_sql_query("""select Director, Actor, Count(*) as Movies_with_YashChopra 
from(select p1.Name as Director, m1.title as Movie from Person p1 Inner Join M_Director
md on TRIM(md.PID)=p1.PID Inner Join Movie m1 on TRIM(md.MID)=m1.MID and 
p1.Name LIKE 'Yash%' Group By p1.Name, m1.title) t1 Inner Join
(select p2.Name as Actor,m2.title as Movie from Person p2 Inner Join 
M_Cast mc on TRIM(mc.PID)=p2.PID Inner Join Movie m2 on TRIM(mc.MID)=m2.MID 
Group By p2.Name, m2.title) t2 on t1.Movie=t2.Movie Group By t1.Director, t2.Actor having Movies_with_YashChopra >1
Order By Movies_with_YashChopra DESC""", con)

In [7]:
qn9

       Director                     Actor  Movies_with_YashChopra
0   Yash Chopra               Jagdish Raj                      11
1   Yash Chopra          Manmohan Krishna                      10
2   Yash Chopra          Manmohan Krishna                      10
3   Yash Chopra                  Iftekhar                       9
4   Yash Chopra                Madan Puri                       8
5   Yash Chopra               Vikas Anand                       8
6   Yash Chopra               Anupam Kher                       7
7   Yash Chopra             Shashi Kapoor                       7
8   Yash Chopra               Anupam Kher                       7
9   Yash Chopra             Shashi Kapoor                       7
10  Yash Chopra          Amitabh Bachchan                       6
11  Yash Chopra             Rakhee Gulzar                       5
12  Yash Chopra            Waheeda Rehman                       5
13  Yash Chopra            Achala Sachdev                       4
14  Yash Chopra               Deven Verma                       4
15  Yash Chopra               Hema Malini                       4
16  Yash Chopra               Neetu Singh                       4
17  Yash Chopra                  Ravikant                       4
18  Yash Chopra              Rishi Kapoor                       4
19  Yash Chopra            Shah Rukh Khan                       4
20  Yash Chopra               Deven Verma                       4
21  Yash Chopra               Hema Malini                       4
22  Yash Chopra              Rishi Kapoor                       4
23  Yash Chopra               A.K. Hangal                       3
24  Yash Chopra               Anil Kapoor                       3
25  Yash Chopra               Annu Kapoor                       3
26  Yash Chopra             Leela Chitnis                       3
27  Yash Chopra              Mohan Sherry                       3
28  Yash Chopra           Parikshat Sahni                       3
29  Yash Chopra               Prem Chopra                       3
..          ...                       ...                     ...
59  Yash Chopra                     Nazir                       2
60  Yash Chopra                Nirupa Roy                       2
61  Yash Chopra                    Nissar                       2
62  Yash Chopra              Padma Khanna                       2
63  Yash Chopra              Parveen Babi                       2
64  Yash Chopra            Poonam Dhillon                       2
65  Yash Chopra               R.P. Kapoor                       2
66  Yash Chopra                  Raj Hans                       2
67  Yash Chopra               Rajan Verma                       2
68  Yash Chopra            Rajendra Kumar                       2
69  Yash Chopra                    Rehman                       2
70  Yash Chopra             Roopesh Kumar                       2
71  Yash Chopra             S.N. Banerjee                       2
72  Yash Chopra             Saeed Jaffrey                       2
73  Yash Chopra          Satyendra Kapoor                       2
74  Yash Chopra             Shakti Kapoor                       2
75  Yash Chopra           Sharmila Tagore                       2
76  Yash Chopra               Shyam Arora                       2
77  Yash Chopra                   Sridevi                       2
78  Yash Chopra                    Sudhir                       2
79  Yash Chopra                Sunil Dutt                       2
80  Yash Chopra             Surendra Nath                       2
81  Yash Chopra               Sushma Seth                       2
82  Yash Chopra                  Uma Dutt                       2
83  Yash Chopra              Vinod Khanna                       2
84  Yash Chopra               Yash Chopra                       2
85  Yash Chopra  Ananth Narayan Mahadevan                       2
86  Yash Chopra            Rajendra Kumar                       2
87  Yash Chopra                Sunil Dutt                       2
88  Yash Chopra               Yash Chopra                       2

[89 rows x 3 columns]

10) The Shahrukh number of an actor is the length of the shortest path between the actor and Shahrukh Khan in the "co-acting" graph. That is, Shahrukh Khan has Shahrukh number 0; all actors who acted in the same film as Shahrukh have Shahrukh number 1; all actors who acted in the same film as some actor with Shahrukh number 1 have Shahrukh number 2, etc. Return all actors whose Shahrukh number is 2.

In [43]:
qn10 = pd.read_sql_query("""WITH SHAHRUK_0 AS
                        (SELECT TRIM(P.PID) PID
                        FROM PERSON P
                        WHERE TRIM(P.NAME) like '%Shahrukh%'),
                        
                        SHAHRUK_1_MOV AS
                        (SELECT DISTINCT TRIM(MC.MID) MID, S_0.PID
                        FROM SHAHRUK_0 S_0, M_CAST MC
                        WHERE TRIM(MC.PID) = S_0.PID),
                        
                        SHAHRUK_1_ACTS AS
                        (SELECT DISTINCT TRIM(MC.PID) PID
                        FROM M_CAST MC, SHAHRUK_1_MOV SM_1
                        WHERE TRIM(MC.MID) = SM_1.MID AND
                        TRIM(MC.PID) <> SM_1.PID),
                        
                        SHAHRUK_2_MOV AS
                        (SELECT DISTINCT TRIM(MC.MID) MID, SA_1.PID
                        FROM SHAHRUK_1_ACTS SA_1, M_CAST MC
                        WHERE TRIM(MC.PID) = SA_1.PID)
                        
                        SELECT DISTINCT TRIM(P.NAME) Shahruk_2_Actors
                        FROM PERSON P, M_CAST MC, SHAHRUK_2_MOV SM_2
                        WHERE TRIM(MC.PID) = TRIM(P.PID) AND
                        MC.MID = SM_2.MID AND
                        MC.PID <> SM_2.PID""", con)

In [44]:
qn10

            Shahruk_2_Actors
0               Freida Pinto
1      Caroline Christl Long
2              Rajeev Pahuja
3          Michelle Santiago
4             Jandre le Roux
5                 Raj Awasti
6            Michael Chapman
7                James Heron
8                  Alex Jaep
9            Marian Lorencik
10              Celina Nessa
11             James Pimenta
12         M'laah Kaur Singh
13     Maximiliano HernÃ¡ndez
14                Sohum Shah
15              Deepak Damle
16            Piyush Kaushik
17             Harish Khanna
18      Sushant Singh Rajput
19          Nitish Bharadwaj
20              Lalu Makhija
21                Mir Sarwar
22        Ayushmann Khurrana
23                      Tabu
24              Radhika Apte
25               Anil Dhawan
26                 Manav Vij
27          Ashwini Kalsekar
28              Chhaya Kadam
29             Zakir Hussain
...                      ...
15258        Pradhan Manjari
15259             Poonam Jha
15260     Sunila Karambelkar
15261           Arup Ganguli
15262            Laxmi Patel
15263           Meena Pankaj
15264                 Pratap
15265           Vidya Shenoy
15266       Jeetendra Khanna
15267             K.L. Sethi
15268         Malaika Shinoy
15269           Poonam Bajwa
15270         Kishin Punjabi
15271           Surjeet Redi
15272                 Premji
15273                   Kamu
15274                  Monal
15275           Ushma Rathod
15276                 Shilpi
15277            Zubeda Khan
15278               N. Sagar
15279           Habib Tanvar
15280       Mohd. Zahiruddin
15281          Muktha George
15282                Anjuman
15283           Dhruv Shetty
15284        Hayley Cleghorn
15285        Nirvasha Jithoo
15286         Kamal Maharshi
15287           Mohini Manik

[15288 rows x 1 columns]